.img-port-fail {
  background-image: url("../Assets/Images/ImgBack.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 918px;
  width: auto;
  opacity: 0.3;
}
.icon-fail {
  text-align: center;
  margin-top: 57px;
}
.fail {
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 30%;
  height: 478px;
  background: #ffffff;
  box-shadow: 0px 12px 27px rgb(0 0 0 / 15%);
}
.fail-title {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin-top: 45px;
  margin-bottom: 12px;
}
.fail-time {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  opacity: 0.5;
}
.fail-otp {
  display: flex;
  margin-top: 60px;
  margin-left: 10px;
}
.fail-control {
  margin-right: 15px;
  text-align: center;
  width: 50%;
  height: 56px;
  border: 1px solid red;
}
.veri-text {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-top: 25px;
}
.back{
    background-color: #767676;
    color: #ffffff;
    border-radius: 50px;
    width: 91%;
    height: 50px;
    margin : 25px auto ;
}
.extra-fail{
    margin-top: 15px;
    opacity: 0.5;
}
