body{
	font-family: "NeueMontreal-Regular";
}
@font-face {
	font-family: "NeueMontreal-Bold";
	src: url("../src/Assets/fonts/NeueMontreal-Bold.otf");
	src: url("../src/Assets/fonts/NeueMontreal-Bold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NeueMontreal-Light";
	src: url("../src/Assets/fonts/NeueMontreal-Light.otf");
	src: url("../src/Assets/fonts/NeueMontreal-Light.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	letter-spacing: 10px;
}

@font-face {
		
	src: url("../src/Assets/fonts/NeueMontreal-Regular.otf");
	src: url("../src/Assets/fonts/NeueMontreal-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NeueMontreal-Medium";
	src: url("../src/Assets/fonts/NeueMontreal-Medium.otf");
	src: url("../src/Assets/fonts/NeueMontreal-Medium.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}